nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.nav {
  width: 500px;
  margin: 0 auto;
  background: #8c8c6c;
  color: #fcfcc5;
  
}
.nav a {
  display: block;
  padding: 0 24px;
  line-height: inherit;
  cursor: pointer;
  color: #fcfcc5;
}
.nav a:hover {
  color: black;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  font-family: ;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
}
.nav__menu-item:hover {
  background-color: #fcfcc5;
  
}
.nav__menu-item:hover .nav__submenu {
  display: block;
  background-color: #ebe97e;
}
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
}
